@import url("https://use.typekit.net/dqq4keq.css");

.containerFilm {
  background: linear-gradient(to right, #1a1a1a, rgb(44, 26, 48));
  color: #e0e0e0;
  width: 30vw;
  margin: auto;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 15px;
  padding-top: 10px;
  border: none;
  height: 100%;
  border-radius: 20px;
}

/* Movie Title Styles */
.containerFilm h2 {
  margin-bottom: 20px;
  font-family: lato, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

/* Image Styles */
.containerFilm img {
  max-width: 100%;
  max-height: 40vh;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

/* Paragraph Styles */
.containerFilm p {
  margin-bottom: 10px;
  /*width: 35vw;*/
  margin-left: 5%;
  margin-right: 5%;
}

/* Actor List Styles */
.containerFilm .actors {
  list-style-type: none;
  padding: 0;
  margin-left: 5%;
}

.containerFilm .actors li {
  display: inline-block;
  margin-right: 10px;
  font-family: "circe", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 12px;
  color: rgb(171, 171, 171);
}

@media screen and (max-width: 800px) {
  .containerFilm {
    width: 80vw;
  }
  .containerFilm p {
    width: 70vw;
  }
}

#ratingPG {
  border: none;
  padding: 4px;
  margin-right: 1%;
  border-radius: 5px;
  transform: translateY(2px);
  border: none;
  background-color: orange;
  color: black;
  display: inline-block;
}
#ratingR {
  border: none;
  padding: 4px;
  margin-right: 1%;
  transform: translateY(2px);
  border-radius: 5px;
  border: none;
  background-color: red;
  color: black;
  display: inline-block;
}

#ratingPG13 {
  border: none;
  padding: 4px;
  transform: translateY(2px);
  margin-right: 1%;
  border-radius: 5px;
  border: none;
  background-color: #53c0da;
  color: black;
  display: inline-block;
}

#noRating {
  border: none;
  padding: 4px;
  margin-right: 1%;
  border-radius: 5px;
  border: none;
  transform: translateY(2px);
  background-color: grey;
  color: black;
  display: inline-block;
}

#genres {
  margin-top: 20px;
  margin-left: 5%;
}

.genreFilm {
  display: inline-block;
  margin-right: 1%;
  border: none;
  border-radius: 5px;
  border: 1px solid #53c0da;
  padding: 5px;
  color: #53c0da;
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.year {
  font-family: "circe", sans-serif;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin-top: -10px;
}

#bookmarkBtn {
  float: right;
  margin-right: 8%;
  transform: translateY(34px);
}

@media screen and (max-width: 366px) {
  #genres {
    margin-top: 60px;
    margin-left: 2%;
  }
  #bookmarkBtn {
    float: left;
    margin-left: 3%;
  }
  #ratingPG,
  #ratingR,
  #ratingPG13,
  #noRating {
    margin-right: 3%;
  }
  .containerFilm {
    width: 72vw;
    margin-right: 10%;
    margin-left: -2%;
  }
}

.containerFilm p {
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@media screen and (max-width: 284px) {
  .containerFilm h2 {
    font-size: 18px;
  }
}
