.searchBox {
  margin: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: #53c0da 1px solid;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title h2 {
  margin: 10px;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;

  color: #fff;
}

.title button {
  margin-left: 10px;
  padding: 5px 10px;
  font-weight: 400;
  color: #fff;

  border-radius: 2px;
  cursor: pointer;
}

#close {
  border: none;
  border-radius: 5px;
  border: 1px solid #53c0da;
  color: #53c0da;
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
  padding: 5px;
  margin-left: 0.5%;
}

.close {
  border: none;
  height: 32px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid #53c0da;
  color: #53c0da;
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
  border-radius: 5px;
  background-image: url("../src/assets/icons8-search-30.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(10px);
}

.close:hover {
  cursor: pointer;
  background-color: #53c0da;
  background-image: url("../src/assets/icons8-search-30-black.png");
  transition: 0.2s ease;
}

#close:hover {
  background-color: #53c0da;
  color: black;
  transition: 0.2s ease;
  cursor: pointer;
}

#search {
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#searchField {
  text-align: center;
}

#searchField input {
  width: 40%;
  margin-right: 1%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #53c0da;
  background-color: transparent;
  padding-left: 10px;
}

#searchField ::placeholder {
  color: grey;
}

#searchField:focus {
  outline: purple;
}

@media screen and (max-width: 700px) {
  #searchField input {
    width: 90%;
  }
}
