.searchBox {
  margin: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: #53c0da 1px solid;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title h2 {
  margin: 10px;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;

  color: #fff;
}

.title button {
  margin-left: 10px;
  padding: 5px 10px;
  font-weight: 400;
  color: #fff;

  border-radius: 2px;
  cursor: pointer;
}

#close {
  border: none;
  border-radius: 5px;
  border: 1px solid #53c0da;
  color: #53c0da;
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
  padding: 5px;
  margin-left: 1%;
}

.close {
  border: none;
  border-radius: 5px;
  border: 1px solid #53c0da;
  color: #53c0da;
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
  padding: 7px;
  border-radius: 20px;
}

.close:hover {
  cursor: pointer;
  background-color: #53c0da;
  color: black;
}

#close:hover {
  background-color: #53c0da;
  color: black;
}

#search {
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#searchField {
  text-align: center;
}

#searchField input {
  width: 30%;
  margin-right: 1%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #53c0da;
  background-color: transparent;
  padding-left: 10px;
}

#searchField ::placeholder {
  color: grey;
}

#searchField:focus {
  outline: purple;
}
