.carousel {
  max-height: 40vh;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  max-width: 80vw;
  margin-left: -30px;
}
.slidingMovies {
  display: inline-block;
}

.movie {
  height: 40vh;
  margin-right: 20px;
}

h4 {
  padding-left: 10%;
}

.what {
  display: flex;
}

.nextic {
  transform: rotate(180deg);
  height: 50px;
}

.movieInfo {
  position: absolute;
  width: 26.2vh;
  height: 150px;
  text-align: left;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.179);
  backdrop-filter: blur(10px);
  transform: translateY(-150px);
}

h5 {
  margin-bottom: -10px;
  margin-top: -10px;
}

h6 {
  padding-top: -20px;
  font-family: "circe", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.cls-1 {
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

#lager-1 {
  float: right;
  margin-right: 10px;
  margin-bottom: -20px;
  cursor: pointer;
}

@media screen and (max-width: 370px) {
  .movie {
    height: 30vh;
  }
  .carousel {
    height: 30vh;
  }
  .movieInfo {
    width: 19.7vh;
  }
  h5 {
    font-size: 12px;
  }
}

@media screen and (max-width: 325px) {
  .movie {
    height: 20vh;
  }
  .carousel {
    height: 20vh;
  }
  .movieInfo {
    width: 14vh;
  }
  h6 {
    font-size: 9px;
  }
  .movieInfo {
    height: 50;
  }
}
