.genres {
  display: inline-table;
  margin-right: 10px;
}
.homepage {
  background-color: rgb(18, 18, 18);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #1a1a1a, rgb(44, 26, 48));
}

.categories {
  align-content: center;
  margin-left: 7%;
}

@media screen and (max-width: 370px) {
  .categories {
    margin-left: 0%;
  }
}

.genres button:hover,
.Sci-fiBtn:hover {
  color: rgb(186, 119, 173);
}

.genre {
  margin-right: 1%;
  border: none;
  border-radius: 5px;
  border: 1px solid purple;
  padding: 5px;
  color: rgb(161, 2, 161);
  font-family: "circe", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
  cursor: pointer;
}
.Sci-fiBtn {
  background-color: transparent;
  border: 1px solid purple;
  border-radius: 5px;
  color: rgb(152, 5, 152);
  cursor: pointer;
  padding: 5px;
}
