@import url("https://use.typekit.net/dqq4keq.css");
:root {
  font-family: lato, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 20px;
}
